<div class="container">
  <div class="col-xs-6 col-md-1">
  </div>
    <div class="contentBlock">
      <div class="title"> ABOUT </div> <BR>
        <p class="blurb">
          Hello! I'm Neeta, I am a professional musician and technologist currently based in London, UK. I’m currently working as a freelance producer, composer, musician and vocalist. I’m passionate about electronic music, and particularly interested in the boundary that lies between live/acoustic performance and electronic sound. I love many aspects of the music making process and over the years have developed a wide set of skills both in the studio and on the stage. I work mostly from my home studio using Logic Pro & Ableton but still have a big love for Cubase which I learned my craft on. My sound as an artist/songwriter is soulful, cinematic and electronic but I’ve also composed in a number of styles including acoustic, folk, pop, RnB, hip-hop, eastern fusion, jazz, cinematic, orchestral, vocal, drum and bass, house & calypso. I design loop packs for a number of sample pack companies, and currently create ongoing bespoke sound packs for Ampify x Novation’s apps Launchpad, Blocs Wave & Groovebox for iOS. I also compose/produce music to brief for BMG Chrysalis. As an artist I’ve released on independent labels and gigged around the UK and festival scene. A number of my tracks have received national radio play and have been used for sync on television shows, adverts and corporate videos. As a producer I’ve produced and mixed for a number of different independent artists and bands. Prior to producing, I trained in classical piano and studied Popular Music at Leeds College of Music (Major Composition - 1st). I have also worked as a professional software developer and welcome experimental ideas/projects using music and technology.

          <BR><BR><a href="contact.html" class="call-meh">Get in touch</a> if you like my style and would like to get me involved in a project - I’m available for production, mixing, songwriting, composing, singing, recording & playing live. I’m particularly excited by new technologies and hardware but up for anything unique and interesting that I can vibe to.

          <BR><BR>Thanks for listening!
          <BR>
        </p>
        <figure>
          <img width=100% src="Assets/farmfest.jpg">
          <figcaption class="caption"> Music Tech Fest, Berlin 2016 </figcaption>
        </figure>
    </div>
</div>
