<div class="container">
  <div class="col-xs-6 col-md-1">
  </div>
  <div class="col-xs-6 col-md-10">
    <div class="contentBlock">
        <div class="title"> CONTACT </div>
      <p class="contact-deets"> <span class="glyphicon glyphicon-envelope contact-deets" aria-hidden="true"></span>  neetamusic@gmail.com </p>
      <p class="contact-deets">  <span class="glyphicon glyphicon-phone contact-deets" aria-hidden="true"></span> 07944337414 </p>
    </div>
  </div>
</div>
