    <title> Neeta : Music Production | Composition | Sound Designer  </title>
    <link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="Styling/main.css">
    <link rel="stylesheet" href="Styling/navigation.css">
    <link rel="stylesheet" href="Styling/hovers.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
