<div class="main">
  <div class="page-header header">
    <div class="row">
      <div class="col-xs-6 col-md-10">
        <div class="col-xs-6 col-md-4" id="logo">
        <a href="index.html" onclick="showVideos()">  <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> n e e t a </a>
        </div>
