<div class="main">
  <div class="page-header header">
    <div class="row">
      <div class="col-xs-6 col-md-10">
        <div class="col-xs-6 col-md-4" id="logo">
        <a href="index.html" onclick="showVideos()">  <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> n e e t a </a>
        </div>
        <div class="col-xs-6 col-md-7">
          <ul class="nav nav-pills">
            <li class><a href="about.html" class="hvr-push" onClick="hideVideos()"> about</a></li>
            <li class="active"><a href="showreel.html" class="hvr-push" onClick="hideVideos()">showreel</a></li>
            <li class><a href="contact.html" class="hvr-push" onClick="hideVideos()">contact </a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2">
          <a target="_blank" href="https://www.facebook.com/neetamusik">
            <img class="hvr-float-shadow" src="Assets/fbicon.png">
            </img>
          </a>
          <a target="_blank" href="https://twitter.com/neetamusic">
            <img class="hvr-float-shadow" src="Assets/twittericon.png">
            </img>
          </a>
          <a target="_blank" href="https://www.linkedin.com/in/neeta-sarl-1887a818">
            <img class="hvr-float-shadow" src="Assets/linkedinicon.png">
            </img>
          </a>
      </div>
  </div>
</div>
