<div class="col-sm-2 socials">
  <a target="_blank" href="https://www.facebook.com/neetamusik">
    <img class="hvr-float-shadow" src="Assets/fbicon.png">
    </img>
  </a>
  <a target="_blank" href="https://twitter.com/neetamusic">
    <img class="hvr-float-shadow" src="Assets/twittericon.png">
    </img>
  </a>
  <a target="_blank" href="https://www.linkedin.com/in/neeta-sarl-1887a818">
    <img class="hvr-float-shadow" src="Assets/linkedinicon.png">
    </img>
  </a>
</div>
