<div class="frontmedia col-md-12" align="center" id="vidshowreel">
  <div id="videoCarousel" class="carousel slide" data-ride="carousel"  data-interval="false">
      <ol class="carousel-indicators">
          <li data-target="#videoCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#videoCarousel" data-slide-to="1"></li>
          <li data-target="#videoCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
          <div class="item active">
            <iframe
              src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fneetamusik%2Fvideos%2F10153860460996529%2F&show_text=0&width=560"
              width="768" height="482" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true" align="center">
            </iframe>
          </div>
          <div class="item">
            <iframe width="768" height="482" src="https://www.youtube.com/embed/mnGhpKL5InQ" frameborder="0" allowfullscreen>
            </iframe>
          </div>
          <div class="item">
            <iframe width="768" height="482" src="https://www.youtube.com/embed/wTNXdVmiAZU" frameborder="0" allowfullscreen>
            </iframe>
          </div>
      </div>
      <!-- Carousel controls -->
      <a class="carousel-control left" href="#videoCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="carousel-control right" href="#videoCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div>
</div>
