<!doctype html>
<html>
<head>
  {{> head}}
  <link rel="stylesheet" href="Styling/aboutMeandContact.css">
</head>
  <body class="background">
    <div class="main">
      {{> navigation}}
      <div class="hidden-lg hidden-md col-md-6 sm-xs-nav" role="navigation">
        <ul class="nav nav-pills">
          <li  class="active sm-xs-li"><a href="about.html"> about</a></li>
          <li class="sm-xs-li"><a href="showreel.html" class="hvr-push sm-xs-link">showreel</a></li>
          <li class="sm-xs-li"><a href="contact.html" class="hvr-push sm-xs-link">contact </a></li>
        </ul>
      </div>
      {{> about}}
    </div>
  </body>
</html>
