<!doctype html>
<html>
<head>
  {{> head}}
  <link rel="stylesheet" href="Styling/aboutMeandContact.css">
</head>
    <body class="background">
        {{> logo}}
              <div class="col-md-6" role="navigation">
                <ul class="nav nav-pills">
                  <li class="active"><a href="about.html"> about</a></li>
                  <li><a href="showreel.html" class="hvr-push">showreel</a></li>
                  <li><a href="contact.html" class="hvr-push">contact </a></li>
                </ul>
              </div>
            </div>
        {{> socials}}
        </div>
      </div>
        {{> about}}
      </div>
    </body>
</html>
