<!doctype html>
<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="Styling/aboutMeandContact.css">
  </head>
  <body class="background">
    {{> logo}}
          <div class="col-md-6" role="navigation">
            <ul class="nav nav-pills">
              <li><a href="about.html" class="hvr-push"> about</a></li>
              <li><a href="showreel.html" class="hvr-push">showreel</a></li>
              <li class="active"><a href="contact.html">contact </a></li>
            </ul>
          </div>
        </div>
    {{> socials}}
    </div>
  </div>
    {{> contact}}
  </div>
  </body>
<html>
