<!doctype html>
<html>
<head>
  {{> head}}
</head>
    <body class="background">
      {{> logo}}
              <div class="col-lg-6 col-md-6 hidden-sm hidden-xs" role="navigation">
                  <ul class="nav nav-pills">
                    <li><a href="about.html" class="hvr-push"> about</a></li>
                    <li><a href="showreel.html" class="hvr-push">showreel</a></li>
                    <li><a href="contact.html" class="hvr-push">contact </a></li>
                  </ul>
              </div>
              <!-- <div class="navbar navbar-default visible-xs" role="navigation"> -->
              <!-- </div> -->
            </div>
            {{> socials}}
        </div>
      </div>
      {{> videoCarousel}}
    </div>
    </body>
</html>
