<!doctype html>
<html>
<head>
  {{> head}}
  <link rel="stylesheet" href="Styling/showreel.css">
</head>
    <body class="background">
      {{> logo}}
              <div class="col-xs-6 col-md-7">
                <ul class="nav nav-pills">
                  <li class><a href="about.html" class="hvr-push"> about</a></li>
                  <li class="active"><a href="showreel.html" class="hvr-push">showreel</a></li>
                  <li class><a href="contact.html" class="hvr-push">contact </a></li>
                </ul>
              </div>
            </div>
                {{> socials}}
          </div>
        </div>
                    {{> showreelExamples}}
      </div>
    </body>
</html>
