.background{
  background-color: rgb(10, 21, 42);
  color: white;
}

.banner{
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(238, 240, 233);
  position: relative;
}


.header{
  border: solid 1px rgb(238, 240, 233);
  height: 100px;
}

#logo{
  border: solid 1px rgb(238, 240, 233);
  float: left;
  overflow: hidden;
  height: 100px;
  width: 200px;
  background-color: red;
}

#tags{
  overflow:hidden;
  border: solid 1px rgb(238, 240, 233);
  height: 100px;
  padding-left: 5px;
}

#pages{
  float: left;
  overflow: hidden;
  border: solid 1px rgb(238, 240, 233);
  width: 200px;
}

#image{
  overflow:hidden;
}
