.background{
  background-color: rgb(10, 21, 42);
  color: white;
}

.pic{
  width: 1023px;
  height: 650px;
  border-style: solid;
  border-width: 1px;
  position: relative;
}


.header{
  height: 100px;
}

#logo{
  border: solid 1px rgb(238, 240, 233);
  float: left;
  overflow: hidden;
  height: 100px;
  width: 220px;
}

#tags{
  overflow:hidden;
  border: solid 1px rgb(238, 240, 233);
  height: 100px;
  padding-left: 5px;
  background-color: rgb(6, 9, 33)
}

#pages{
  float: left;
  overflow: hidden;
  border: solid 1px rgb(238, 240, 233);
  width: 215px;
  padding-left: 5px;
}

#image{
  overflow:hidden;
}

a{
  color: rgb(235, 239, 246);
  text-decoration: none;
}

a:hover{
    color: rgb(196, 204, 218);
}
