.page-header{
  margin-top:0;
  margin-bottom:0;
  border-bottom: 0;
}

.title-row{
  background-color: rgba(13, 17, 33, 0.99);
}

.nav-pills{
  padding-left: 15%;
}

.nav-pills>li>a{
  border:solid;
}

.nav-pills>li{
  padding-right:10%;
  padding-top:6px;
}

#logo{
  float: left;
  overflow: hidden;
  max-height: 100px;
  margin: 5px;
  padding-left: 170px;
  font-size: 32px;
  font-family: serif;
}

#logo:hover{
    background-image: url('http://i339.photobucket.com/albums/n442/mcrmy_derick/equalizer.gif');
    opacity: 0.8;
    background-repeat: none;
    color: transparent;
    cursor: default;
}
