.page-header{
  margin:0;
  border-bottom: 0;
  max-height: 70px;
}

.header{
  background-color: rgba(13, 17, 33, 0.99);
  padding-top: 10px;
  height: 100px;
}


.nav-pills>li>a{
  border:solid;
  margin-right:100px;
}

.nav-pills>li>a:hover{
  /*background:none;*/
  padding:-5px;
  /*color: rgb(221, 237, 237);*/
}
.nav-pills>li.active>a{
  /*background-color: transparent !important;*/
  color: rgb(32,28,29) !important;
  cursor: default;
}

.navigation{
  list-style-type: none;
  margin: 0;
  padding:0;
  font-size: 32px;
}

.navigation >li{
  padding-bottom: 10px;
}


#logo{
  float: left;
  overflow: hidden;
  max-height: 100px;
  margin: 5px;
  padding-left: 170px;
  font-size: 32px;
  font-family: serif;
}

#logo:hover{
    background-image: url('http://i339.photobucket.com/albums/n442/mcrmy_derick/equalizer.gif');
    opacity: 0.8;
    background-repeat: none;
    color: transparent;
    cursor: default;
}
