.page-header{
  margin:0;
  border-bottom: 0;
  max-height: 70px;
}

.header{
  background-color: rgba(13, 17, 33, 0.99);
  padding-top: 10px;
  height: 100px;
}

.nav-pills>li>a{
  border:solid;
  margin-left:30px;
}

.nav-pills>li>a:hover{
  padding:-5px;
}

.nav-pills>li.active>a{
  background-color: red;
  color: rgb(32,28,29) !important;
  cursor: default;
}

.navigation{
  list-style-type: none;
  margin: 0;
  padding:0;
  font-size: 32px;
}

.navigation >li{
  padding-bottom: 10px;
}


#logo{
  float: left;
  overflow: hidden;
  max-height: 100px;
  margin: 5px;
  padding-left: 100px;
  font-size: 32px;
  font-family: serif;
  margin-right:30px;
}

#logo:hover{
    /*background-image: url('http://www.clipartbest.com/cliparts/9ip/XLz/9ipXLzAiE.gif');*/
    opacity: 0.8;
    background-repeat: none;
    color: transparent;
    cursor: default;
}
